/* No CSS *//*# sourceMappingURL=style.css.map */

// google font ============================
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


// css variable============================
:root {
    // --primary-color: #007AF3;
    --header-height: 3rem;

    // colours============================
    --first-color: #425C5A;
    --first-color-alt: #A2BFBD;
    --title-color: #393939;
    --text-color: #707070;
    --text-color-light: #A6A6A6;
    --body-color: #FBFEFD;
    --container-color: #FFFFFF;

    // font and typography============================
    --body-font: 'Poppins', sans-serif;

    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    @media screen and (min-width: 768px){
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }

    // font weight============================
    --font-medium: 500;
    --font-semi-bold: 600;

    // margenes============================
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    // z index============================
    --z-tooltip: 10;
    --z-fixed: 100;
}


// base============================
*,::before,::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}


// dark theme============================
body.dark-theme{
    --title-color: #F1F3F2;
    --text-color: #C7D1CC;
    --body-color: #1D2521;
    --container-color: #27302C;
}

// button dark theme============================
.change-theme {
    position: absolute;
    right: 1rem;
    top: 1.8rem;
    color: var(--text-color);
    font-size: 1rem;
    cursor: pointer;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;
}
h1,h2,h3,ul,p{
    margin: 0;  
}

ul{
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}


// class css============================
.section{
    padding: 4rem 0 2rem;

    &-title, &-subtitle{
        text-align: center;
    }

    &-title{
        font-size: var(--h1-font-size);
        color: var(--title-color);
        margin-bottom: var(--mb-3);
    }
    &-subtitle{
        display: block;
        color: var(--first-color);
        font-weight: var(--font-medium);
        margin-bottom: var(--mb-1);
    }
}

// layout ===================================
.bd-container{
    max-width: 960px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.bd-grid{
    display: grid;
    gap: 1.5rem;
}

.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

// nav ====================================
.nav{
    max-width: 1024px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &__menu{
        @media screen and (max-width: 768px){
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            padding: 1.5rem 0 1rem;
            text-align: center;
            background-color: var(--body-color);
            transition: .4s;
            box-shadow: 0 4px 4px rgba(0,0,0,.1);
            border-radius: 0 0 1rem 1rem;
            z-index: var(--z-fixed);
        }
    }
    &__item{
        margin-bottom: var(--mb-2);
    }
    &__link, &__logo, &__toggle{
        color: var(--text-color);
        font-weight: var(--font-medium);
    }
    &__logo{
        &:hover{
            color: var(--first-color);
        }
    }
    &__link{
        transition: .3s;
        
        &:hover{
            color: var(--first-color);
        }
    }
    &__toggle{
        font-size: 1.3rem;
        cursor: pointer;
    }
}


// show menu
.show-menu{
    top: var(--header-height);
}

// active link
.active-link{
    color: var(--first-color);
}

// change background header
.scroll-header{
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

// scroll top
.scrolltop{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    background: rgba(6, 156, 84, .5);
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    visibility: hidden;

    &:hover{
        background-color: var(--first-color-alt);
    }

    &__icon{
        font-size: 1.8rem;
        color: var(--body-color);
    }
}

.show-scroll{
    visibility: visible;
    bottom: 1.5rem;
}


// home 
.home{
    &__container{
        height: calc(100vh - var(--header-height));
        align-content: center;
    }
    &__title{
        font-size: var(--biggest-font-size  );
        color: var(--first-color);
        margin-bottom: var(--mb-1);
    }
    &__subtitle{
        font-size: var(--h1-font-size);
        color: var(--title-color);
        margin-bottom: var(--mb-4);
    }
    &__img{
        width: 300px;
        justify-self: center;
    }
}

// button
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: .75rem 1rem;
    border-radius: .5rem; 
    transition: .3s;
    
    &:hover{
        background-color: var(--first-color-alt);
    }
}


// about
.about{
    &__data{
        text-align: center;
    }
    &__description{
        margin-bottom: var(--mb-3);
    }
    &__img{
        width: 280px;
        border-radius: .5rem;
        justify-self: center;
    }
}


// services
.services{
    &__container{
        row-gap: 2.5rem;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }

    &__content{
        text-align: center;
    }

    &__img{
        width: 64px;
        height: 64px;
        fill: var(--first-color);
        margin-bottom: var(--mb-2);
    }

    &__title{
        font-size: var(--h3-font-size);
        color: var(--title-color);
        margin-bottom: var(--mb-1);
    }

    &__description{
        padding: 0 1.5rem;
    }
}


// menu
.menu{
    &__container{
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
    &__content{
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: var(--container-color);
        border-radius: .5rem;
        box-shadow: 0 2px 4px rgba(3, 74, 40, 0.15);
        padding: .75rem;
    }
    &__img{
        width: 100px;
        align-self: center;
        margin-bottom: var(--mb-2);
    }
    &__name, &__preci{
        font-weight: var(--font-semi-bold);
        color: var(--title-color);
    }
    &__name{
        font-size: var(--normal-font-size);
    }
    &__detail, &__preci{
        font-size: var(--small-font-size);
    }
    &__detail{
        margin-bottom: var(--mb-1);
    }
    &__button{
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        font-size: 1.25rem;
        padding: .625rem .813rem;
        border-radius: .5rem 0 .5rem 0;
    }
}


// app
.app{
    &__data{
        text-align: center;
    }
    &__description{
        margin-bottom: var(--mb-5);
    }
    &__stores{
        margin-bottom: var(--mb-4);
    }
    &__store{
        // width: 120px;
        height: 40px;
        margin: 0 var(--mb-1);
    }
    &__img{
        width: 230px;
        justify-self: center;
    }
}

// contact
.contact{
    &__container{
        text-align: center;
    }
    &__description{
        margin-bottom: var(--mb-3);
    }
}

// contact section
h2 {
    font-size: 2em;
}

label {
    display: block;
    font-size: 1.2em;
    margin-bottom: .5em;
}

input, textarea {
    width: 100%;
    padding: .8em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid gray;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    border: none;
    margin-bottom: 5em;
    border-radius: 5em;
    display: inline-block;
    padding: .8em 2em;
    width: unset;
    cursor: pointer;
}

// map section
iframe{
    width: 100%;
    height: 300px;
}

// footer
.footer{
    &__container{
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        row-gap: 2rem;
    }
    &__logo{
        font-size: var(--h3-font-size);
        color: var(--first-color);
        font-weight: var(--font-semi-bold);
    }
    &__description{
        display: block;
        font-size: var(--small-font-size);
        margin: .25rem 0 var(--mb-3);
    }
    &__social{
        font-size: 1.5rem;
        color: var(--title-color);
        margin-right: var(--mb-2);
    }
    &__title{
        font-size: var(--h2-font-size);
        color: var(--title-color);
        margin-bottom: var(--mb-2);
    }
    &__link{
        display: inline-block;
        color: var(--text-color);
        margin-bottom: var(--mb-1);

        &:hover{
            color: var(--first-color);
        }
    }
    &__copy{
        text-align: center;
        font-size: var(--small-font-size);
        color: var(--text-color-light);
        margin-top: 3.5rem;
    }
}






// body{
//     background: #F2F2F2;
//     margin: 0;
//     font-family: 'Poppins';
//     font-family: 'Poppins', sans-serif;
// }


// // navbar 
// .navbar{
//     background: white;
//     padding: 1em;

//     .logo {
//         text-decoration: none;
//         font-weight: bold;
//         color: black;
//         font-size: 1.2em;

//         span {
//             color: var(--primary-color);
//         }
//     }

//     nav {
//         display: none;
//     }
    
//     .container {
//         display: flex;
//         place-content: space-between;
//     }

//     .mobile-menu {
//         cursor: pointer;
//     }
// }


// a {
//     color: #444444;
// }

// // lists in section
// ul {
//     list-style-type: none;
//     margin: 0;
//     padding: 0;
// }

// // page padding  
// section{
//     padding: 5em 2em;
// }

// .hero{
//     text-align: center;
// }

// .left-col{

//     .subhead {
//         text-transform: uppercase;
//         font-weight: bold;
//         color: gray;
//         letter-spacing: .3em;
//     }

//     h1{
//         font-size: 2.5em;
//         line-height: 1.3em;
//         margin-top: .2em;
//     }

//     .primary-cta{
//         background: var(--primary-color);
//         color:white;
//         text-decoration: none;
//         padding: .6em 1.3em;
//         font-size: 1.4em;
//         border-radius: 5em;
//         font-weight: bold;
//         display: inline-block;
//     }

//     .watch-video-cta{
//         display: block;
//         margin-top: 1em;
//     }

//     img {
//         margin-right: .5em;
//     }
// }

// .hero-img{
//     width: 70%;
//     margin-top: 3em;
// }

// // section lists
// section.feature-section{
//     background: #20272E;
//     color: white;
// }

// ul.feature-list{
//     margin: 0;
//     padding-left: .1em;
//     display: grid;
//     grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));

    

//     li {
//         font-size: 1.1em;
//         margin-bottom: 1em;
//         margin-left: 2em;
//         position: relative;
    
//     // bullet logo
//     &:before{
//         content: '';
//         left: -2em;
//         position: absolute;
//         width: 20px;
//         height: 20px;
//         background-image: url('../images/bullet.svg');
//         background-size: contain;
//         margin-right: .5em;
//         }
//     }   
// }

// .feature-section img{
//     display: none;
// }

// // card component and carosel section
// .testimonials-section{
//     background: var(--primary-color);
//     color: white;

//     li{
//         background: #006BD6;
//         text-align: center;
//         padding: 2em 1em;
//         width: 80%;
//         margin: 0 auto 5em auto;
//         border-radius: 1em;

//         img{
//             width: 5em;
//             height: 5em;
//             border: 5px solid #006BD6;
//             border-radius: 50%;
//             margin-top: -4.5em;
//         }
//     }
// }



// //opening nav
// nav.menu-btn {
//     display: block;
// }

// nav {
//     position: fixed;
//     z-index: 999;
//     width: 66%;
//     right: 0;
//     top: 0;
//     background: #20272E;
//     height: 100vh;
//     padding: 1em;

//     ul.primary-nav {
//         margin-top: 5em;
//     }

//     li {
        
//         a {
//             color: white;
//             text-decoration: none;
//             display: block;
//             padding: .5em;
//             font-size: 1.3em;
//             text-align: right;
        

//         &:hover {
//             font-weight: bold;
//             }
//         }
//     }
    
// }

// // close navbar
// .mobile-menu-exit {
//     float: right;
//     margin: .5em;
//     cursor: pointer;
// }

// .footer{
//     background-color: #24262b;
//       padding: 70px 0;

//       .container {
//         max-width: 1000px;
//         margin: auto;
//         // display: grid;
//       }

//       ul{
//         list-style: none;
//       }

//       .row{
// 	display: flex;
// 	flex-wrap: wrap;
//         } 

//     *{
//         margin:0;
//         padding:0;
//         box-sizing: border-box;
//         }  
//   }
//   .footer-col{
//     width: 25%;
//     padding: 0 15px;
//  }
//  .footer-col h4{
//      font-size: 18px;
//      color: #ffffff;
//      text-transform: capitalize;
//      margin-bottom: 35px;
//      font-weight: 500;
//      position: relative;
//  }
//  .footer-col h4::before{
//      content: '';
//      position: absolute;
//      left:0;
//      bottom: -10px;
//      background-color: #e91e63;
//      height: 2px;
//      box-sizing: border-box;
//      width: 50px;
//  }
//  .footer-col ul li:not(:last-child){
//      margin-bottom: 10px;
//  }
//  .footer-col ul li a{
//      font-size: 16px;
//      text-transform: capitalize;
//      color: #ffffff;
//      text-decoration: none;
//      font-weight: 300;
//      color: #bbbbbb;
//      display: block;
//      transition: all 0.3s ease;
//  }
//  .footer-col ul li a:hover{
//      color: #ffffff;
//      padding-left: 8px;
//  }
//  .footer-col .social-links a{
//      display: inline-block;
//      height: 40px;
//      width: 40px;
//      background-color: rgba(255,255,255,0.2);
//      margin:0 10px 10px 0;
//      text-align: center;
//      line-height: 40px;
//      border-radius: 50%;
//      color: #ffffff;
//      transition: all 0.5s ease;
//  }
//  .footer-col .social-links a:hover{
//      color: #24262b;
//      background-color: #ffffff;
//  }


// // mobile first for 768px
// @media only screen and (min-width: 768px) {

//     // navbar responsive
//     .mobile-menu, .mobile-menu-exit{
//         display: none;
//     }

//     .navbar .container{
//         display: grid;
//         grid-template-columns: 180px auto;
//         justify-content: unset;
//     }

//     .navbar nav {
//         display: flex;
//         justify-content: space-between;
//         background: none;
//         position: unset;
//         height: auto;
//         width: 100%;
//         padding: 0;
    

//         ul {
//             display: flex;
//         }

//         a {
//             color: black;
//             font-size: 1em;
//             padding: .1em 1em;
//         }

//         ul.primary-nav {
//             margin: 0;
//         }

        
//         li.current a {
//             font-weight: bold;
//         }

//         // button for order
//         li.go-premium-cta a {
//             color: var(--primary-color);
//             border: 3px solid var(--primary-color);
//             font-weight: bold;
//             border-radius: 5em;
//             margin-top: -.2em;

//             &:hover {
//                 background: var(--primary-color);
//                 color: white;
//             }
//         }
//     }
// }

// // for big screen 1080px
// @media only screen and (min-width: 1080px) {

//     .container {
//         width: 1080px;
//         margin: 0 auto;
//     }

//     section {
//         padding: 10em 4em;
//     }

//     .hero .container {
//         display: flex;
//         justify-content: space-between;
//         text-align: left;

//         .left-col {
//             margin: 3em 3em 0 5em;

//             h1 {
//                 font-size: 3em;
//                 width: 90%;
//             }
//         }
//     }



// .hero-img {
//     width: 30%;
//     margin-right: 8em;
// }

// .hero-cta {
//     display: flex;
// }

// .primary-cta {
//     margin-right: 1em;
// }

// ul.feature-list {
//     display: block;
//     margin-left: 5em;

//     li {
//         font-size: 1.4em;

//         &:before {
//             width: 30px;
//             height: 30px;
//         }
//     }
// }


// // image section
// .feature-section {
//     position: relative;
// }

// .feature-section img {
//     display: block;
//     position: absolute;
//     right: 0;
//     width: 350px;
//     bottom: -2em;
// }

// .testimonials-section ul {
//     display: flex;
    
//     li {
//         margin: 0 1em;
//     }
// }

.contact-section {
    position: relative;

    .container {
        display: flex;
    }
}

.contact-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;

    iframe {
        height: 100%;
    }
}

// }


// // additional .feature-section
// @media only screen and (min-width: 1450px) {
//     .feature-section {

//         &:before {
//             content: '';
//             position: absolute;
//             width: 10%;
//             height: 20em;
//             background: var(--primary-color);
//             left: 0;
//             top: -4em;
//         }

//         &:after {
//             content: '';
//             position: absolute;
//             width: 200px;
//             height: 20em;
//             background: url('../images/dots.svg') no-repeat;
//             left: 4.5em;
//             top: 2em;
//         }
//     }
// }

// @media(max-width: 767px){
//     .footer-col{
//       width: 50%;
//       margin-bottom: 30px;
//     }
//   }
//   @media(max-width: 574px){
//     .footer-col{
//       width: 100%;
//     }
//   }